body{
    margin: 0px;
    font-family: 'ABeeZee', sans-serif;
}
h1{
    font-size: 50px;
    color: #ec4c7a;
}
h2{
    font-size: 30px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.header{
    background-image: url(personal-website/header-bg.png);
    height: 750px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, orange);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.bio-header{
    background-image: url(personal-website/biography-bg.png);
    height: 750px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.bio-header img{
    width: 70%;
}
.work img{
    width: 20%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
}
.latest-work{
    color: black;
    text-align: center;
    padding-bottom: 80px;
}
.work{
    background-image: url(personal-website/latest-work-bg.png);
    height: 500px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.header-text{
    margin-top: 200px;
    padding-left: 5%;
}
.image1{
    margin-top: 150px;
}
.bio-header-text{
    margin-top: 180px;
    padding-left: 0%;
}
.image2{
    margin-top: 100px;
}
.client{
    color: black;
    text-align: center;
}
.founder-image{
    width: 10%;
    padding-left: 45%;
    border-radius: 20px;
}
h4{
    text-align: center;
}
.founder{
    text-align: center;
}
.testimonial{
    text-align: center;
    font-weight: 600;
}
.email{
    padding-top: 60px;
    text-size-adjust: 100px 100px ;
    text-align: center;
    color: white;
    background-color: hotpink;
    max-width: 600px;
    height: 150px;
    margin: auto;
    background-image: linear-gradient(45deg, #ec5093, #ec4b74);
    border-radius: 5px;
}
.client-experience{
    background-image: url(personal-website/footer-bg.png);
    height: 750px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.single-service{
    box-shadow: 10px 10px 30px gray;
    border-radius: 10px;
}
#web-dev{
    border-left: 7px solid #ed4b72;
}
#app-dev{
    border-left: 7px solid #f8bf32;
}
.services{
    color: black;
    text-align: center;
}
.web{
    color: #f8bf32;
}
.app{
    color: #ed4b72;
}
footer{
    text-align: center;
}
.service{
   padding-bottom: 300px;
}